body{
	padding-left: 100px;
	padding-right: 100px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 16px;
	display: block;
}

input[type=text]:focus, input[type=password]:focus{
	box-sizing: border-box;
	border: 1px solid blue;
	border-radius: 4px;
}

.registration_container{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 15px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid graytext;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 5px 5px 5px 2px #637C8A;
	box-shadow: 5px 5px 5px 2px #637C8A;
	width: 250px;
	height: auto;
	display: inline-block;
}

.hint_text{
	font-size: 12px;
	color: red;
	position: absolute;
	~white-space: nowrap;
	width: 450px;
}