body{
	padding-left: 100px;
	padding-right: 100px;
}

input[type=text], input[type=password] {
	width: 350px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 16px;
	display: block;
}

input[type=text]:focus, input[type=password]:focus{
	box-sizing: border-box;
	border: 1px solid blue;
	border-radius: 4px;
}
